MONGO_URI=mongodb+srv://islambendjebbas_db_user:pfLNTf82PFzy1Ulg@ai-study.xtzzoef.mongodb.net/?appName=ai-study
NVIDIA_KEY=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
MONGO_DB=ai_study
PORT=3000
